__pycache__
.env
.idea
.DS_Store
*.egg-info
build

# data
data
checkpoints
out
!data/shakespeare/prepare.py
wandb

# downloaded by our tests
original_model.py
original_adapter.py

.vscode

torch_compile_debug
results
artifacts
eval_job_logs
lightweight_weights